<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearances</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Brown Bear</string>
			<key>LastUpdate</key>
			<string>2016-10-12-A-Time-Stamp</string>
			<key>UnlockLevel</key>
			<integer>0</integer>
			<key>Skills</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Slash</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<integer>1</integer>
					<key>StaminaFactor</key>
					<integer>1</integer>
					<key>AgilityFactor</key>
					<integer>1</integer>
					<key>AttackSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
					<key>DefenceSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Kick</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<real>1.2</real>
					<key>StaminaFactor</key>
					<real>0.9</real>
					<key>AgilityFactor</key>
					<real>1.5</real>
					<key>AttackSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
					<key>DefenceSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Fancy</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Relax Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Relax</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Tired Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Tired</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>White Bear</string>
			<key>LastUpdate</key>
			<string>2016-10-12-A-Time-Stamp</string>
			<key>UnlockLevel</key>
			<integer>0</integer>
			<key>Skills</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Slash</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<integer>1</integer>
					<key>StaminaFactor</key>
					<integer>1</integer>
					<key>AgilityFactor</key>
					<integer>1</integer>
					<key>AttackSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
					<key>DefenceSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Kick</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<real>1.2</real>
					<key>StaminaFactor</key>
					<real>0.9</real>
					<key>AgilityFactor</key>
					<real>1.5</real>
					<key>AttackSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
					<key>DefenceSpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Fancy</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Relax Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Relax</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Tired Default</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Tired</string>
					<key>SpriteAtlas</key>
					<array>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
						<string>https://fitme.club/image/213124</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
