<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearances</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Brown Bear</string>
			<key>Identifier</key>
			<string>appearance-29d2d064-93a8-11e6-ae22-56b6b6499611</string>
			<key>LastUpdate</key>
			<string>1475344800</string>
			<key>UnlockLevel</key>
			<integer>0</integer>
			<key>Skills</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Slash</string>
					<key>Identifier</key>
					<string>skill-29d2d2d0-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<integer>1</integer>
					<key>StaminaFactor</key>
					<integer>1</integer>
					<key>AgilityFactor</key>
					<integer>1</integer>
					<key>AttackSpriteAtlasCount</key>
					<integer>5</integer>
					<key>DefenceSpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Kick</string>
					<key>Identifier</key>
					<string>skill-29d2d3d4-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>StrengthFactor</key>
					<integer>1</integer>
					<key>StaminaFactor</key>
					<integer>1</integer>
					<key>AgilityFactor</key>
					<integer>1</integer>
					<key>AttackSpriteAtlasCount</key>
					<integer>5</integer>
					<key>DefenceSpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>Actions</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Default</string>
					<key>Identifier</key>
					<string>action-29d2d60e-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Sleep Fancy</string>
					<key>Identifier</key>
					<string>action-29d2d76c-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Sleep</string>
					<key>SpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Relax Default</string>
					<key>Identifier</key>
					<string>action-29d2d87a-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Relax</string>
					<key>SpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>DisplayName</key>
					<string>Tired Default</string>
					<key>Identifier</key>
					<string>action-29d2d956-93a8-11e6-ae22-56b6b6499611</string>
					<key>UnlockLevel</key>
					<integer>0</integer>
					<key>Type</key>
					<string>Tired</string>
					<key>SpriteAtlasCount</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
